@font-face {
    font-family: LeagueScript;
    src: url('/media/fonts/LeagueScriptNumberOne.ttf');
}    

a {
    color: #E667AF;
}

a:hover {
    color: #992667;
}

/* Main Logo */
.logo {
    background-color: #000;
    height: 150px;
    width: 150px;
    margin-left: auto; margin-right: auto;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

.logo-text {
    font: 25pt LeagueScript;
    color: #fff;   
    width: 100px;
    padding: 60px 0px 0px 20px;
}

.logo-text-pink {
    color: #ff6ab2;
}

a.logo {
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    position: fixed;
    height: 100%;
    min-width: 210px; max-width: 210px;
    padding: 25px 20px 0px 0px;
    border-right: 1px solid #DDD;/*#D9DBDB;*/
}

#navigation {
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
}

#navigation li {
    text-align: center;
    font-size: 15pt;
    line-height: 25px;
}

.nav > li > a:hover {
    background: white;
}

/* Main Content */
#content {
    background-color: white;
    margin-left: 250px;
    padding-left: 25px;
    min-width: 500px;
}

#content h1 {
    font-family: Arvo; /* Rokkitt */
}

/* Posts */
.post-header {
    height: 44px;
    min-width: 500px;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 40px;
}

.post-header h1 {
    position: relative;
    right: 14px;
    margin-bottom: 35px;
}

.heart {
    position: relative;
    right: 72px;
    top: 87px;
}

.post-info {
    padding-top: 25px;
}

.post-info i:nth-child(2){
    margin-left: 25px;
}

div.post {
    margin-top: 71px;
}

/* Archive Tabs */

.nav-tabs {
    border-bottom: 1px dotted #DDD;
}

/* Disqus */
#disqus_thread {
    margin-top: 50px;
}