/* Main Logo */

.logo {
    background-color: #000;
    height: 150px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 150px;
    margin: 25px 0px 0px 50px;
}

.logo-text {
    padding: 75px 0px 0px 20px;
    font-size: 20pt;
    color: #fff;   
    width: 100px;
}

.logo-text-pink {
    color: #ff6ab2;
}

/* Sidebar */
#sidebar {
    position: fixed;
    height: 100%;
    z-index: -1;
}

#navigation {
    margin: 50px 0px 50px 50px;
}

#navigation li {
    text-align: center;
    font-size: 15pt;
    line-height: 27px;
}

/* Main Content */
#content {
    border-left: 1px solid #D9DBDB;
    margin-left: 20%;
    background-color: white;
    padding-left: 75px;
}
