@font-face {
    font-family: LeagueScript;
    src: url('/media/fonts/LeagueScriptNumberOne.ttf');
}    

a, a h1 {
    color: #E667AF!important;
}

a:hover, a h1:hover {
    color: #992667!important;
}

img.img-margin {
    margin-left: 12%;
}

/* Main Logo */
.logo {
    background-color: #000;
    height: 150px;
    width: 150px;
    margin-left: auto; margin-right: auto;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

.logo-text {
    font: 25pt LeagueScript;
    color: #fff;   
    width: 100px;
    padding: 60px 0px 0px 20px;
}

.logo-text-pink {
    color: #ff6ab2;
}

a.logo {
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    height: 100%;
    padding: 25px 20px 0px 0px;
    border-right: 1px solid #DDD;/*#D9DBDB;*/
}

#navigation {
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
}

#navigation ul {
  list-style-type: none;
}

#navigation li {
    text-align: center;
    font-size: 15pt;
    line-height: 25px;
}

/* Sidebar Quotes */
#random-quote {
    width: 180px;
    margin-left: auto; margin-right: auto;
    margin-top: 50px;
    font-size: 13px;
}

span.random-quote {
    font-style: italic;
}

span.random-author {
}
    

/* Main Content */
#content {
    background-color: white;
}

#content h1 {
    font-family: Arvo; /* Rokkitt */
}

/* Posts */
.post-header {
    height: 44px;
    min-width: 500px;
    border-bottom: 1px dotted #DDD;
    margin-bottom: 40px;
}

.post-header h1 {
    position: relative;
    right: 14px;
    margin-bottom: 35px;
}

.heart {
    position: relative;
    right: 72px;
    top: 87px;
}

/* Post Date/Category */
.post-info {
    padding-top: 25px;
}

.post-info i:nth-child(2){
    margin-left: 25px;
}

div.post {
    margin-top: 71px;
}

.post-content p {
  font-size: 14px;
}

img.img-wrap {
    margin: 15px 25px 15px 0px;
}

ol li {
    margin-bottom: 25px;
}

/* Archive Tabs */

.nav-tabs {
    border-bottom: 1px dotted #DDD;
}

/* Disqus */
#disqus_thread {
    margin-top: 50px;
}