@font-face {
    font-family: LeagueScript;
    src: url('/media/fonts/LeagueScriptNumberOne.ttf');
}    

a, a h1 {
    color: #E667AF!important;
}

a:hover, a h1:hover {
    color: #992667!important;
}

body .row:first-child {
  max-width: none;
}

.centered {
  text-align: center;
}

/* Main Logo */
.logo {
    background-color: #000;
    height: 150px;
    width: 150px;
    margin-left: auto; margin-right: auto;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

.logo-text {
    font: 25pt LeagueScript;
    color: #fff;   
    width: 100px;
    padding: 60px 0px 0px 20px;
}

.logo-text-pink {
    color: #ff6ab2;
}

a.logo {
    text-decoration: none;
}

/* Sidebar */
#sidebar {
    height: 100%;
    width: 215px;
    padding: 25px 20px 0px 20px;
    border-right: 1px solid #DDD;/*#D9DBDB;*/
    position: fixed;
    z-index: 1;
    max-width: 215px;
}

#navigation {
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
}

#navigation ul {
  list-style-type: none;
}

#navigation li {
    text-align: center;
    font-size: 15pt;
    line-height: 25px;
}

/* Sidebar Quotes */
#random-quote {
    margin-left: auto; margin-right: auto;
    margin-top: 50px;
    font-size: 13px;
}

span.random-quote {
    font-style: italic;
}

span.random-author {
}
    

/* Main Content */
#content {
    background-color: white;
    padding-left: 268px;
    max-width: 1000px;
    float: left;
}

#content h1 {
    font-family: Arvo; /* Rokkitt */
}

/* Posts */
.post-header {
    margin-bottom: 40px;
}

.post-header h1 {
    border-bottom: 1px dotted #DDD;
}

.heart {
    position: relative;
    right: 62px;
    top: 87px;
    z-index: 2;
}

/* Post Date/Category */
.post-info {
  position: relative;
  float: right;
}

.post-info i:nth-child(2){
    margin-left: 25px;
}

div.post {
    margin-top: 71px;
}

.post-content {
  padding-top: 10px;
}

.post-content p {
  font-size: 14px;
}

img.img-wrap {
    margin: 15px 25px 15px 0px;
}

ol li {
    margin-bottom: 25px;
}

/* Disqus */
#disqus_thread {
    margin-top: 50px;
}

/* Mobile */

@media screen and (max-width: 768px) {
  #sidebar {
    position: static;
    max-width: none;
    width: 100%;
    border: 0px;
  }

  #random-quote {
    text-align: center;
  }

  #content {
    padding: 25px;
  }

  .post-header {
    font-size: 75%;
  }
  
  .post .heart {
    display: none;
  }
  
  .post-info {
    float: left;
  }
  
  div.post {
    margin-top: 25px;
  }
  
  div.post:first-child {
    margin-top: 0px;
  }

  img.img-margin {
    margin-left: 0;
  }
}