<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>fookin prawns: {{ page.title }}</title>
    <meta name="description" content="Jensen Hussey's website about hula hooping, cats, and some computer stuff.">
    <meta name="keywords" content="code, python, hoops, hula hoops, cats">

    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">

	<div class="span2" id="sidebar">
	  <div class="logo">
	    <div class="logo-text">jensen<span class="logo-text-pink">h</span></div>
	  </div>
	</div>
	
	<div class="span8" id="content">
	  {% if paginator.posts %}

	     {% for post in paginator.posts %}
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
	     {% endfor %}
	  
	  {% else %}
	     <p>no posts</p>

	  {% endif %}
	</div>

      </div>
    </div>
  </body>
</html>
