<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>fookin prawns: {{ page.title }}</title>
    <meta name="description" content="Jensen Hussey's website about hula hooping, cats, and some computer stuff.">
    <meta name="keywords" content="code, python, hoops, hula hoops, cats">

    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Arvo:400,700|Rokkitt:400,700" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <script src="/js/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">

	<div class="span2" id="sidebar">
	  <div class="logo">
	    <div class="logo-text">jensen<span class="logo-text-pink"></span></div>
	  </div>
	  <div id="navigation">
	    <ul class="nav">
	      <li><a href="/">home</a></li>
	      <li><a href="/about">about</a></li>
	      <li><a href="/archives">archive</a></li>
	      <li><a href="http://www.twitter.com/jensechu">@jensechu</a></li>
	    </ul>
	  </div>
	  <div id="heart-bar">
	    {% if paginator.posts %}
	        <ul>
		  {% for post in paginator.posts %}
		  <li>&nbsp;</li>
		  {% endfor %}
		</ul>
	    {% endif %}
	  </div>
	</div>
	
	<div class="span8" id="content">
	  {% if paginator.posts %}

	     {% for post in paginator.posts %}
	        <div class="post">
                  <h1>{{ post.title }}</h1>
                  <p>{{ post.content }}</p>
		</div>
	     {% endfor %}
	  
	  {% else %}
	     <p>no posts</p>

	  {% endif %}
	</div>

      </div>
    </div>
  </body>
</html>
