<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>fookin prawns</title>
    <meta name="description" content="Jensen Hussey's website about hula hooping, cats, and some computer stuff.">
    <meta name="keywords" content="code, python, hoops, hula hoops, cats">

    <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Arvo:400,700|Rokkitt:400,700" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>

    <script>
      $(function(){
         $('#archiveTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
         });
      });
    </script>

  </head>
  <body>
    <div class="container-fluid hidden-tablet">
      <div class="row-fluid">

	<div class="span2" id="sidebar">
	  <a href="/index.html" class="logo">
	    <div class="logo">
	      <div class="logo-text">jensen<span class="logo-text-pink"></span></div>
	    </div>
	  </a>
	  <div id="navigation">
	    <ul class="nav">
	      <li><a href="/">home</a></li>
	      <li><a href="/about.html">about</a></li>
	      <li><a href="/archive.html">archive</a></li>
	      <li><a href="http://www.twitter.com/jensechu">@jensechu</a></li>
	    </ul>
	  </div>
	</div>

	<div class="span8" id="content">
	  {% if paginator.posts %}

	     {% for post in paginator.posts %}
	        <div class="post">
		  <div class="post-header">
		    <a href="#{{ post.id }}"><i class="icon-heart heart pull-left"></i></a>
		    <div class="pull-left">
                      <a href="{{ post.url }}" id="{{ post.id }}"><h1>{{ post.title }}</h1></a> 
		    </div>
		    <div class="pull-right post-info">
		      <i class="icon-time"></i> {{ post.date | date: "%b %Y" }}
		      <i class="icon-bookmark"></i> <a href="/archive.html#tab-{{ post.category }}">{{ post.category | upcase }}</a>
		    </div>
		  </div>
                  <div class="post-content">
		    {{ post.content }}
		  </div>
		</div>
	     {% endfor %}
	  
	  {% else %}
		<div class="post">
		  <div class="post-header">
		    <a href="#{{ post.id }}"><i class="icon-heart heart pull-left"></i></a>
		    <div class="pull-left">
                      <a href="{{ post.url }}" id="{{ post.id }}"><h1>{{ page.title }}</h1></a> 
		    </div>
		    {% if page.date %}
		       <div class="pull-right post-info">
			 <i class="icon-time"></i> {{ page.date | date: "%b %Y" }}
			 <i class="icon-bookmark"></i> <a href="/archive.html#tab-{{ page.category }}">{{ page.category | upcase }}</a>
		       </div>
		    {% endif %}
		  </div>
                  <div class="post-content">
		    {{ content }}
		  </div>
		</div>
	  {% endif %}
	</div>

      </div>
    </div>
  </body>
</html>
